@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-color: #1d351d;
    text-align: center;
    background-image: radial-gradient(circle, #1d351d, #0f1e0f);
}

.christmas-gift-picture {
    width: 60vh;
    height: auto;
}

.gift-button {
    border-radius: 5px;
    background-image: linear-gradient(in oklab to left, blue, red);
    display: inline-flex;
    padding: 15px 20px;
    font-size: 20px;
    font-family: "Lobster", sans-serif;
    text-decoration: none;
    line-height: 1;
    cursor: pointer;
    gap: 10px;
    margin-top: 50px;
}

.gift-button:hover {
    background-image: linear-gradient(to right, #ff4500, #007bff);
    transform: scale(1.05);
}